<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">

  <div class="form-group">
    <label for="pTitle">Title</label>
    <input type="text" class="form-control" name="title" id="pTitle" maxlength="23" required>
  </div>

  <div class="form-group">
    <label for="pBody">Post</label>
    <textarea class="form-control" name="content" rows="5" cols="50" id="postBody" required></textarea>
  </div>

  <button type="submit" class="btn" name="postId">Compose</button>

</form>

<%- include("partials/footer"); -%>
