body {
  min-height: 100vh;
  position: relative;
}

span {
  font-size: 1.5rem;
}

p, span {
  padding-left: 1rem;
}

h2 a {
  color: #000;
}

h2 a:hover {
  color: #333;
  text-decoration: none;
}

a, button {
  color: #12836d;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
}

button:focus {
  outline: none;
}

.edit {
  margin-left: 1rem;
}

.home-form {
  display: inline-block;
}

.btn {
  background-color: #12836d;
  border: none;
}

.container-fluid, .navbar {
  padding: 1rem 3rem;
}

.navbar {
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}

.navbar-brand {
  font-weight: 500;
}

.navbar-brand, .compose {
  color: #12836d !important;
}

.footer-padding {
  padding-bottom: 4rem;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #12836d;
}

.footer p {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #fff;
}
